.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60px;
}

.counter-wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
}

.count {
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
